/*
  Project: Pre-Dinner Prep Simulation
  Description: Styling for the Unity WebGL container and any custom UI elements.
  Author: Dominique Thomas (github.com/dominique-thomas)
  License: Shared publicly for demonstration purposes only. Reuse or redistribution not permitted without permission.
*/
@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";
:root{
    --bg-color: #eaf1f3;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color);
}

.bg-light{
    box-shadow: 0 1px 3px rgba(27, 23, 30, 0.1);
}

.btn-close {
    filter: invert(1);
}

.btn-close{
    font-size: 14px;
}

.btn-close:focus {
    --bs-btn-close-focus-shadow: none;
}

.btn-primary{
    background-color: #1f70f6;
    border-color: #1f70f6;
}

.btn-primary:hover{
    background-color: #1858be;
    border-color: #1858be;
}

.modal-header{
    color: #fff;
    background-color: #1858be;
}

.video-container  {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#unityIframe {
    width: 960px;
    height: 605px;
    position: relative;
    overflow: hidden;
  }
  
  #unityIframe iframe {
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
  }

  .container{
    margin-top: 20px;
  }

  .card{
    border-color: #e4e4e4;
  }

  .modal-body video {
    width: 90%;
    height: auto;
    position: absolute;
    left: 40px;
  }

  
